[submodule "LUI-LOTRO"]
	path = LUI-LOTRO
	url = https://github.com/sharshazo/LUI-LOTRO.git
[submodule "LOTRO_Quest_Assistant"]
	path = LOTRO_Quest_Assistant
	url = https://github.com/sharshazo/LOTRO_Quest_Assistant.git
[submodule "DeedTracker-LOTRO"]
	path = DeedTracker-LOTRO
	url = https://github.com/sharshazo/DeedTracker-LOTRO.git
[submodule "LOTRO_Chat_Narrator"]
	path = LOTRO_Chat_Narrator
	url = https://github.com/sharshazo/LOTRO_Chat_Narrator.git
[submodule "Narrador_IA"]
	path = Narrador_IA
	url = https://github.com/sharshazo/Narrador_IA.git
